body {
  display: flex;
  margin: 0;
  font-family: 'Francois One', sans-serif;
  overflow: hidden;
}

.col {
  flex: 1 auto;
  position: relative;
}

.col::before {
  content: attr(data-title) "";
  color: black;
  position: absolute;
  padding-top: 0.5em;
  padding-left: 1em;
  top: 0;
  left: 0;
  text-transform: uppercase;
}

.col__textarea {
  padding: 1em;
  padding-top: 3em;
  border: 0;
  border-right: 1px solid #aaaaaa;
  height: 100vh;
  box-sizing: border-box;
  width: 100%;
  display: block;
  font-family: sans-serif;
  resize: none;
}

.col--result .col__textarea {
  background: #efefef;
  border-right: 0;
}
